body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-custom {
	border-bottom: 2px solid #e83225 !important;
}

.search-text-box {
	border: 0px;
	border-radius: 0px;
	background-color: white;
	margin-right: 15px;
	height: 46px !important;
	width: 790px !important;
}

.search-icon {
	border-radius: 0px;
	background-color: white;
}

.search-button {
	border: 0px;
	border-radius: 0px;
	background-color: #B22222;
	color: #ffffff;
}

.reach-out-a {
	font-size: 1.2rem
}

.application {
	
}

.application-main {
	
}

.appliaction-main-body {
	
}

.serach-result-filter-bar {
	margin-top: 45px;	
	margin-bottom: 10px;
}

.serach-result-range-filter {
	margin: 10px 0 !important;
	height: 8px;
	background: gray;
	border-radius: 0px;
}

.serach-result-dropdown-ul {
	top:0px !important;
	width: 500px;
	padding: 5px;
    border-radius: 0px;
    transform: translate3d(-340px, 38px, 0px) !important;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.serach-result-dropdown-li {
	padding: 5px;
	color: gray;
}

.serach-result-dropdown-span {
	margin-right: 15px;
}

.serach-result-dropdown-select {
	float: right;
}

.serach-result-range-filter .rangeslider__fill {
	background-color: #e83225 !important;
}

.serach-result-range-filter .rangeslider__handle {
	border: 1px solid #e83225 !important;
}

.serach-result-number-box-filter {
	width: 45px;
    margin-left: 10px;
    margin-right: 20px;
}

.search-filter-bottom-margin {
	margin-bottom: 0px;
}

.search-result-body {
	margin-top: 65px;
	margin-bottom: 75px;
}

.search-result-textBox {
	width: 90%;
	display: inline;
	border: 1px solid;
	border-radius: 0px;
	height: 46px;
}

.search-result-property-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 15px 0;
}

.search-result-property-card-img {
	
}

.search-result-property-card-bar {
	padding-top: 12px;
}

.search-result-property-card-i {
	padding: 0 10px;
}

.search-result-property-card-p {
	display: inline;
	margin-left: 2px;
}

.search-result-location-icon {
	margin-right: 5px;
    font-size: 24px;
}

.google-map-col {
	height: 100vh;
	margin-top: 15px;
}

/* Media queries for Search page */


@media (min-width: 421px)  and (max-width: 780px) {
	.serach-result-dropdown-ul { 
		width: 300px !important;
		left: 255px !important;
	}
	
	.search-filter-bottom-margin {
		margin-bottom: 15px !important;
	}
}

@media (min-width: 400px)  and (max-width: 420px) {
	.serach-result-dropdown-ul { 
		width: 300px !important;
		left: 420px !important;
	}
	
	.search-filter-bottom-margin {
		margin-bottom: 30px !important;
	}
}

@media (min-width: 350px)  and (max-width: 399px) {
	.serach-result-dropdown-ul { 
		width: 300px !important;
		left: 385px !important;
	}
	
	.search-filter-bottom-margin {
		margin-bottom: 30px !important;
	}
}

/* End */ 

.individual-view-image-info-bar-row {
	margin-bottom: 40px;
    margin-top: 10px;
	
}

.individual-view-contact {
	padding: 10px;
	border: 1px solid #6a6a6a;
	height: 400px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.individual-view-contact-info-col {
	margin-bottom: 25px;
    margin-top: 15px;
}

.individual-view-contact-info-image {
	width: 30%;
	display: inline;
    padding: 5px;
    border: 1px solid #e83225;
    border-radius: 50%;
}

.individual-view-contact-info-name {
	display: inline;
	position: relative;
    top: 3px;
	color: #6a6a6a;
    margin-left: 15px;
}

.individual-view-contact-button {
	margin: 10px;
    background-color: white;
    color: black;
    width: 200px;
    border-radius: 0px;
}

.individual-view-address {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
	color: #6a6a6a;
}

.individual-view-address-icon {
	font-size: 40px;
	margin-right: 15px;
} 

.individual-view-property-details-text {
	color: #6a6a6a;
	margin-bottom: 10px;
}
.individual-view-property-details-icon {
	font-size: 25px;
	margin-right:20px;
} 

.individual-view-property-details-description {
	margin-top: 25px;
	margin-bottom: 40px;
	color: #6a6a6a;
}

/* Toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
  float: right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e83225;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
/* End */

/*Over ride bootstrap*/
.show>.btn-primary.dropdown-toggle {
	background-color: #d9111e!important;
    border-color: #d9111e!important;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
#toaster {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: red; /* Red text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toaster.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
} 

/* General */

.fix-navigation-margin {
	margin-top: 65px;
	margin-bottom: 75px;
}

.img-center {
    display: block;
	margin: 20px auto;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.loading-spin {
	display: block;
    margin: 0 auto;
    border-color: #000;
}

/* End */